@keyframes fade-in {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes swipe-from-left {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes swipe-from-right {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

header{
    animation: swipe-from-left 0.7s ease-out ;
}

main{
    animation: swipe-from-right 0.7s ease-out ;
}

div{
    animation: fade-in 1s ease-in;
}

img{
    transition: all 2s;
}

img:hover{
    transform: rotate3d(1, 1, 1, 360deg);
}

.button-transition-spin{
    transition: transform 2s;
}

.button-transition-spin:hover{
    transform: rotateY(360deg);
}

li{
    transition: transform 2s;
}

li:hover{
    transform: scale(2, 2);
}